* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Encode Sans SC", sans-serif;
  background-color: #092238;
  color: #fdf9f6;
}
.main {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: row;
}
h1 {
  font-weight: 900;
  font-size: 45px;
}
.f-color {
  color: #dc8d48;
}
.s-color {
  color: #fdf9f6;
}
p {
  margin-top: 10px;
}
